# Base de datos Neon
DATABASE_URL=postgresql://usuario:password@ep-xxxx.neon.tech/neondb?sslmode=require

# Meta / Facebook
FB_VERIFY_TOKEN=mi_token_super_secreto_123
FB_PAGE_ACCESS_TOKEN=EAAxxxxxxxxxxxxxxxxxxxxxxxxxx
FB_GRAPH_API_VERSION=v20.0

PORT=3000
